version: '3'
services:
  octoprint-klipper:
    image: "seanauff/octoprint-klipper:arm"
    container_name: "octoprint-klipper"
    devices:
      - "/dev/ttyUSB0:/dev/ttyUSB0"
    ports:
      - "5000:5000"
    volumes:
      - "/home/docker/octoprint-klipper:/home/octoprint/.octoprint"
    environment:
      TZ: America/New_York
    restart: unless-stopped
